* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.insights-main-container {
  background-color: #141519;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.insights-chart{

}
