* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.intro-container {
  background: url("../img/wave.avif") no-repeat center / cover;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
