* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.main-container {
  background-color: #3c0c96;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background: linear-gradient(to right top, #1d1239, #5504df);
  display: flex;
  flex-direction: column;
}

.swap-item-container {
  padding: 1rem;
  border: 1.2px solid #f6f4f4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
}

.bnb-text {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.amount-info-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
